<html>
    <head>
        <title>
            Website | {% block title %} {% endblock %}
        </title>
    <body>
        {% include 'templates/partials/navigation.twig'%}
        {% block content %} {% endblock %}   
    </body>
    </head>
</html>
